.side-nav {
    background-color: #353541!important;
    width: 50px!important;
    .brandLogo {
        width: 100%!important;
        padding: 3px!important;
    }
    li a,
    li i.whiteIcon {
        color: #fff!important;
        font-size: 30px!important;
    }
    li {
        a {
            padding: 0 10px!important;
        }
    }
}
